n8n/workflow.json
{
  "name": "Credit Scoring Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credit-scoring",
        "responseMode": "onReceived",
        "options": {
          "responseData": "noData"
        }
      },
      "id": "7d3975e7-49c8-4903-8b32-b062a65913e5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2064,
        1488
      ],
      "webhookId": "1be3cd59-e837-4918-a572-f5d736af325f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18GOJXNSzyVyQTe_U6F3BEMaAQss6Kk-K8SpwdITQNaU",
          "mode": ""
        },
        "sheetName": {
          "mode": "name",
          "value": "Credit_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.body.timestamp }}",
            "Customer_Name": "={{ $json.body.customer_name }}",
            "Email": "={{ $json.body.customer_email }}",
            "Result": "={{ $json.body.predicted_class }}",
            "P_Poor": "={{ (Math.round($json.body.proba.Poor * 1000) / 10).toFixed(1) + '%' }}",
            "P_Standard": "={{ (Math.round($json.body.proba.Standard * 1000) / 10).toFixed(1) + '%' }}",
            "P_Good": "={{ (Math.round($json.body.proba.Good * 1000) / 10).toFixed(1) + '%' }}",
            "Age": "={{ $json.body.inputs.Age }}",
            "Annual_Income": "={{ $json.body.inputs.Annual_Income }}",
            "Outstanding_Debt": "={{ $json.body.inputs.Outstanding_Debt }}",
            "Credit_Utilization": "={{ $json.body.inputs.Credit_Utilization_Ratio }}",
            "Delay_Days": "={{ $json.body.inputs.Delay_from_due_date }}",
            "Credit_History_Months": "={{ $json.body.inputs.Credit_History_Months }}",
            "Notes": "={{ $json.body.predicted_class === 'Poor' ? 'Cần review' : ($json.body.proba.Poor > 0.4 ? 'Theo dõi' : '') }}",
            "Status": "={{ $json.body.predicted_class === 'Poor' ? 'Chưa xử lý' : 'OK' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P_Poor",
              "displayName": "P_Poor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P_Standard",
              "displayName": "P_Standard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "P_Good",
              "displayName": "P_Good",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Annual_Income",
              "displayName": "Annual_Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outstanding_Debt",
              "displayName": "Outstanding_Debt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Credit_Utilization",
              "displayName": "Credit_Utilization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delay_Days",
              "displayName": "Delay_Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Credit_History_Months",
              "displayName": "Credit_History_Months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "77b7ff94-ffd6-4d52-866b-acaf587b2185",
      "name": "Append Credit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2304,
        1488
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iShtmhilTJGWdL38",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-poor",
              "leftValue": "={{ $('Webhook').item.json.body.predicted_class }}",
              "rightValue": "Poor",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b06df6b9-a720-474f-957c-c476830dd5cb",
      "name": "If Poor",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst pPoor = (b.proba.Poor * 100).toFixed(1);\nconst pStandard = (b.proba.Standard * 100).toFixed(1);\nconst pGood = (b.proba.Good * 100).toFixed(1);\nconst sheetUrl = 'https://docs.google.com/spreadsheets/d/18GOJXNSzyVyQTe_U6F3BEMaAQss6Kk-K8SpwdITQNaU';\nconst subject = `CẢNH BÁO POOR: ${b.customer_name} - P(Poor)=${pPoor}%`;\nconst alertHTML = `<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style='font-family:Arial,sans-serif;background:#f8f9fa;padding:20px'>\n<div style='max-width:600px;margin:0 auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1)'>\n<div style='background:#dc3545;color:#fff;padding:20px;text-align:center'>\n<h2 style='margin:0'>⚠️ CẢNH BÁO RỦI RO TÍN DỤNG</h2>\n<p style='margin:5px 0 0'>Khách hàng được phân loại: POOR</p>\n</div>\n<div style='padding:20px'>\n<table style='width:100%;border-collapse:collapse;margin-bottom:20px'>\n<tr style='background:#f8d7da'><th colspan='2' style='padding:10px;text-align:left;border:1px solid #f5c6cb'>📋 Thông tin khách hàng</th></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Tên</td><td style='padding:8px;border:1px solid #dee2e6'>${b.customer_name}</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Email</td><td style='padding:8px;border:1px solid #dee2e6'>${b.customer_email || 'N/A'}</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Thời gian</td><td style='padding:8px;border:1px solid #dee2e6'>${b.timestamp}</td></tr>\n</table>\n<table style='width:100%;border-collapse:collapse;margin-bottom:20px'>\n<tr style='background:#f8d7da'><th colspan='2' style='padding:10px;text-align:left;border:1px solid #f5c6cb'>📊 Xác suất phân loại</th></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>P(Poor)</td><td style='padding:8px;border:1px solid #dee2e6;color:#dc3545;font-weight:bold'>${pPoor}%</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>P(Standard)</td><td style='padding:8px;border:1px solid #dee2e6;color:#fd7e14'>${pStandard}%</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>P(Good)</td><td style='padding:8px;border:1px solid #dee2e6;color:#28a745'>${pGood}%</td></tr>\n</table>\n<table style='width:100%;border-collapse:collapse;margin-bottom:20px'>\n<tr style='background:#fff3cd'><th colspan='2' style='padding:10px;text-align:left;border:1px solid #ffc107'>⚡ Chỉ số rủi ro</th></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Số ngày trễ hạn</td><td style='padding:8px;border:1px solid #dee2e6'>${b.inputs.Delay_from_due_date} ngày</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Số lần trễ thanh toán</td><td style='padding:8px;border:1px solid #dee2e6'>${b.inputs.Num_of_Delayed_Payment} lần</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Tỷ lệ sử dụng tín dụng</td><td style='padding:8px;border:1px solid #dee2e6'>${(b.inputs.Credit_Utilization_Ratio * 100).toFixed(1)}%</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Nợ tồn đọng</td><td style='padding:8px;border:1px solid #dee2e6'>${b.inputs.Outstanding_Debt.toLocaleString()} VND</td></tr>\n<tr><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold'>Thu nhập hàng năm</td><td style='padding:8px;border:1px solid #dee2e6'>${b.inputs.Annual_Income.toLocaleString()} VND</td></tr>\n</table>\n<div style='text-align:center;margin-top:20px'>\n<a href='${sheetUrl}' style='background:#dc3545;color:#fff;padding:12px 24px;text-decoration:none;border-radius:5px;font-weight:bold'>📊 Xem Google Sheet</a>\n</div>\n</div>\n</div></body></html>`;\nreturn [{json: {subject, alertHTML, to: 'credit.scoring.admin@gmail.com'}}];"
      },
      "id": "5f714418-a86e-4640-8003-0ac2358a7673",
      "name": "Build Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        1264
      ]
    },
    {
      "parameters": {
        "sendTo": "linhham1509@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.alertHTML }}",
        "options": {
          "emailType": "html"
        }
      },
      "id": "895eb98b-cc8a-4424-af65-9df8dcd7a01d",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3088,
        1264
      ],
      "webhookId": "3c6325c7-490d-4c98-b6ac-bfa359fcfdf0",
      "credentials": {
        "gmailOAuth2": {
          "id": "G5ESIeZiZnGHofay",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-email",
              "leftValue": "={{ $('Webhook').item.json.body.customer_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6558e9eb-538f-476f-9414-2782815a67c0",
      "name": "If Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        1632
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "18GOJXNSzyVyQTe_U6F3BEMaAQss6Kk-K8SpwdITQNaU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Credit_Log"
        },
        "options": {}
      },
      "id": "842ebd02-de64-400f-beac-5a186de1439d",
      "name": "Lookup History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2816,
        1616
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iShtmhilTJGWdL38",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json.body;\nconst currentEmail = webhookData.customer_email;\nconst currentTimestamp = webhookData.timestamp;\nconst currentPGood = webhookData.proba.Good;\nconst currentPPoor = webhookData.proba.Poor;\nconst currentClass = webhookData.predicted_class;\nconst allRows = $input.all().map(r => r.json);\nconst emailRows = allRows.filter(r => r.Email && r.Email.toLowerCase().trim() === currentEmail.toLowerCase().trim() && r.Timestamp !== currentTimestamp);\nemailRows.sort((a, b) => new Date(b.Timestamp) - new Date(a.Timestamp));\nconst visitCount = emailRows.length + 1;\nconst isNew = emailRows.length === 0;\nlet previousData = null;\nlet improving = false;\nlet stagnant = false;\nif (!isNew && emailRows.length > 0) {\n  const prev = emailRows[0];\n  const prevPGood = parseFloat(prev.P_Good) / 100;\n  const prevPPoor = parseFloat(prev.P_Poor) / 100;\n  previousData = {\n    timestamp: prev.Timestamp,\n    predicted_class: prev.Result,\n    p_poor: prevPPoor,\n    p_standard: parseFloat(prev.P_Standard) / 100,\n    p_good: prevPGood\n  };\n  improving = (currentPGood - prevPGood) > 0.05;\n  stagnant = currentClass === 'Poor' && prev.Result === 'Poor' && !improving;\n}\nreturn [{json: {isNew, visitCount, previousData, improving, stagnant}}];"
      },
      "id": "3ff0d2b4-7be9-4ced-8c52-e27322740a30",
      "name": "Compare History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst hist = $('Compare History').item.json;\nconst pPoor = (b.proba.Poor * 100).toFixed(1);\nconst pStandard = (b.proba.Standard * 100).toFixed(1);\nconst pGood = (b.proba.Good * 100).toFixed(1);\nconst cls = b.predicted_class;\nconst visitNum = hist.visitCount || 1;\nconst clsVi = cls === 'Poor' ? 'Rủi ro Cao' : (cls === 'Standard' ? 'Trung bình' : 'Tốt');\nconst cardColor = cls === 'Poor' ? '#dc3545' : (cls === 'Standard' ? '#fd7e14' : '#28a745');\nconst cardIcon = cls === 'Poor' ? '🔴' : (cls === 'Standard' ? '🟠' : '🟢');\nconst greeting = hist.isNew\n  ? `Xin chào <strong>${b.customer_name}</strong>,<br>Đây là lần đầu tiên bạn sử dụng dịch vụ đánh giá tín dụng của chúng tôi.`\n  : `Xin chào <strong>${b.customer_name}</strong>,<br>Đây là lần thứ <strong>${visitNum}</strong> bạn sử dụng dịch vụ đánh giá tín dụng.`;\nlet compareSection = '';\nif (!hist.isNew && hist.previousData) {\n  const prev = hist.previousData;\n  const deltaPoor = (b.proba.Poor - prev.p_poor) * 100;\n  const deltaGood = (b.proba.Good - prev.p_good) * 100;\n  const deltaSign = (v) => v > 0 ? '+' : '';\n  const classChanged = prev.predicted_class !== cls;\n  let bannerMsg = '';\n  if (hist.improving) bannerMsg = `<div style='background:#d4edda;border:1px solid #c3e6cb;padding:12px;border-radius:5px;margin-bottom:15px;text-align:center'>🎉 <strong>Chúc mừng!</strong> Điểm tín dụng của bạn đã được cải thiện đáng kể!</div>`;\n  else if (hist.stagnant) bannerMsg = `<div style='background:#f8d7da;border:1px solid #f5c6cb;padding:12px;border-radius:5px;margin-bottom:15px;text-align:center'>⚠️ <strong>Lưu ý:</strong> Điểm tín dụng chưa được cải thiện so với lần trước.</div>`;\n  else if (classChanged) bannerMsg = `<div style='background:#cce5ff;border:1px solid #b8daff;padding:12px;border-radius:5px;margin-bottom:15px;text-align:center'>📈 <strong>Thay đổi:</strong> Phân loại của bạn đã thay đổi từ <strong>${prev.predicted_class}</strong> sang <strong>${cls}</strong>.</div>`;\n  compareSection = `${bannerMsg}<table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr style='background:#e2e3e5'><th style='padding:10px;text-align:left;border:1px solid #d6d8db' colspan='3'>📈 So sánh với lần trước (${prev.timestamp})</th></tr><tr><th style='padding:8px;border:1px solid #dee2e6;background:#f8f9fa'>Chỉ số</th><th style='padding:8px;border:1px solid #dee2e6;background:#f8f9fa'>Lần trước</th><th style='padding:8px;border:1px solid #dee2e6;background:#f8f9fa'>Lần này</th></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>Phân loại</td><td style='padding:8px;border:1px solid #dee2e6'>${prev.predicted_class}</td><td style='padding:8px;border:1px solid #dee2e6;font-weight:bold;color:${cardColor}'>${cls}</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>P(Poor)</td><td style='padding:8px;border:1px solid #dee2e6'>${(prev.p_poor * 100).toFixed(1)}%</td><td style='padding:8px;border:1px solid #dee2e6'>${pPoor}% <span style='color:${deltaPoor > 0 ? \"#dc3545\" : \"#28a745\"}'>(${deltaSign(deltaPoor)}${deltaPoor.toFixed(1)}%)</span></td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>P(Good)</td><td style='padding:8px;border:1px solid #dee2e6'>${(prev.p_good * 100).toFixed(1)}%</td><td style='padding:8px;border:1px solid #dee2e6'>${pGood}% <span style='color:${deltaGood > 0 ? \"#28a745\" : \"#dc3545\"}'>(${deltaSign(deltaGood)}${deltaGood.toFixed(1)}%)</span></td></tr></table>`;\n}\nlet suggestions = '';\nif (cls === 'Poor' && hist.isNew) {\n  suggestions = `<div style='background:#fff3cd;border:1px solid #ffc107;padding:15px;border-radius:5px;margin-bottom:20px'><h4 style='color:#856404;margin:0 0 10px'>🚨 Vấn đề cần xử lý khẩn cấp</h4><ul style='margin:0;padding-left:20px'><li>Thanh toán ngay các khoản nợ quá hạn</li><li>Giảm tỷ lệ sử dụng tín dụng xuống dưới 30%</li><li>Lập kế hoạch trả nợ có hệ thống</li></ul><h4 style='color:#856404;margin:15px 0 10px'>🗓️ Lộ trình cải thiện 6-12 tháng</h4><ul style='margin:0;padding-left:20px'><li><strong>Tháng 1-3:</strong> Thanh toán đúng hạn 100%, giảm 20% nợ tồn đọng</li><li><strong>Tháng 4-6:</strong> Không phát sinh nợ mới, tăng thu nhập thụ động</li><li><strong>Tháng 7-12:</strong> Duy trì thói quen tốt, tái đánh giá tín dụng</li></ul></div>`;\n} else if (cls === 'Poor' && hist.stagnant) {\n  suggestions = `<div style='background:#f8d7da;border:1px solid #f5c6cb;padding:15px;border-radius:5px;margin-bottom:20px'><h4 style='color:#721c24;margin:0 0 10px'>⚠️ Chưa có cải thiện đáng kể</h4><p>Dù đã qua một thời gian, điểm tín dụng của bạn vẫn chưa cải thiện. Hãy xem xét tư vấn tài chính chuyên nghiệp để được hỗ trợ.</p></div>`;\n} else if (cls === 'Poor' && hist.improving) {\n  suggestions = `<div style='background:#d4edda;border:1px solid #c3e6cb;padding:15px;border-radius:5px;margin-bottom:20px'><h4 style='color:#155724;margin:0 0 10px'>👏 Bạn đang tiến bộ!</h4><p>Điểm tín dụng đang cải thiện. Hãy tiếp tục duy trì các thói quen tài chính tốt và kiên trì theo lộ trình đã đề ra.</p></div>`;\n} else if (cls === 'Standard') {\n  suggestions = `<div style='background:#cce5ff;border:1px solid #b8daff;padding:15px;border-radius:5px;margin-bottom:20px'><h4 style='color:#004085;margin:0 0 10px'>📋 Rào cản để lên Good</h4><ul style='margin:0;padding-left:20px'><li>Tăng lịch sử tín dụng lên trên 24 tháng</li><li>Đảm bảo 0 ngày trễ hạn trong 12 tháng tới</li><li>Giảm tỷ lệ sử dụng tín dụng xuống dưới 20%</li><li>Đa dạng hóa danh mục tín dụng</li></ul></div>`;\n} else {\n  suggestions = `<div style='background:#d4edda;border:1px solid #c3e6cb;padding:15px;border-radius:5px;margin-bottom:20px'><h4 style='color:#155724;margin:0 0 10px'>🌟 Duy trì điểm tín dụng xuất sắc</h4><ul style='margin:0;padding-left:20px'><li>Tiếp tục thanh toán đúng hạn 100%</li><li>Bạn đủ điều kiện cho các sản phẩm tín dụng ưu đãi</li><li>Có thể xem xét tăng hạn mức tín dụng</li><li>Cân nhắc các khoản vay lãi suất thấp</li></ul></div>`;\n}\nconst subject = `[Lần ${visitNum}] Kết quả tín dụng: ${clsVi} (${cls})`;\nconst emailHTML = `<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style='font-family:Arial,sans-serif;background:#f8f9fa;padding:20px'><div style='max-width:600px;margin:0 auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1)'><div style='background:${cardColor};color:#fff;padding:20px;text-align:center'><h2 style='margin:0'>${cardIcon} Kết quả Đánh giá Tín dụng</h2><p style='margin:5px 0 0;font-size:14px'>${b.timestamp}</p></div><div style='padding:20px'><p style='margin-bottom:20px'>${greeting}</p><div style='background:${cardColor};color:#fff;padding:20px;border-radius:8px;text-align:center;margin-bottom:20px'><h3 style='margin:0 0 5px'>Phân loại: ${clsVi} (${cls})</h3></div><table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr style='background:#f8f9fa'><th style='padding:10px;text-align:left;border:1px solid #dee2e6' colspan='2'>📊 Xác suất phân loại</th></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>🔴 Poor (Rủi ro cao)</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right;font-weight:bold;color:#dc3545'>${pPoor}%</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>🟠 Standard (Trung bình)</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right;font-weight:bold;color:#fd7e14'>${pStandard}%</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>🟢 Good (Tốt)</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right;font-weight:bold;color:#28a745'>${pGood}%</td></tr></table>${compareSection}${suggestions}</div></div></body></html>`;\nreturn [{json: {subject, emailHTML, to: b.customer_email}}];"
      },
      "id": "0074ee0d-9130-4265-a0e3-a59099f45b9f",
      "name": "Build Customer Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        1616
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailHTML }}",
        "options": {
          "emailType": "html"
        }
      },
      "id": "eb0edefe-7e75-4bb4-809a-1bc10ff103aa",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        1616
      ],
      "webhookId": "808f6ccf-4875-4c0b-958c-bab87e7905a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "G5ESIeZiZnGHofay",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "43d6a7f8-e2ff-4f00-8971-2ae5e85ed699",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2064,
        1888
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "18GOJXNSzyVyQTe_U6F3BEMaAQss6Kk-K8SpwdITQNaU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Credit_Log"
        },
        "options": {}
      },
      "id": "09ca7e3c-65f1-43db-92b2-254b84d295d3",
      "name": "Read All Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2304,
        1888
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iShtmhilTJGWdL38",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const TZ = 'Asia/Ho_Chi_Minh';\nconst WINDOW_DAYS = 7;\nfunction vnYmd(d) { return d.toLocaleDateString('en-CA', { timeZone: TZ }); }\nfunction shiftYmd(ymd, days) {\n  const [y, m, day] = ymd.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, day));\n  dt.setUTCDate(dt.getUTCDate() + days);\n  return dt.toISOString().slice(0, 10);\n}\nfunction parseTs(raw) {\n  if (!raw) return null;\n  const s = String(raw).trim();\n  if (/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}/.test(s) && !/(Z|[+-]\\d{2}:?\\d{2})$/.test(s)) return new Date(s + '+07:00');\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}/.test(s)) return new Date(s.replace(' ', 'T') + '+07:00');\n  return new Date(s);\n}\nfunction tsYmd(raw) {\n  const d = parseTs(raw);\n  if (!d || isNaN(d.getTime())) return null;\n  return vnYmd(d);\n}\nconst weekEnd = vnYmd(new Date());\nconst weekStart = shiftYmd(weekEnd, -(WINDOW_DAYS - 1));\nconst weekStr = `${weekStart} - ${weekEnd}`;\nconst allRows = $input.all().map(r => r.json).filter(r => r.Timestamp);\nconst recentRows = allRows.filter(r => {\n  const day = tsYmd(r.Timestamp);\n  return day && day >= weekStart && day <= weekEnd;\n});\nconst total = recentRows.length;\nconst poor = recentRows.filter(r => r.Result === 'Poor').length;\nconst standard = recentRows.filter(r => r.Result === 'Standard').length;\nconst good = recentRows.filter(r => r.Result === 'Good').length;\nconst withEmail = recentRows.filter(r => r.Email && String(r.Email).trim() !== '').length;\nconst uniqueEmails = [...new Set(recentRows.filter(r => r.Email).map(r => String(r.Email).toLowerCase().trim()))];\nconst allEmails = allRows.filter(r => r.Email).map(r => String(r.Email).toLowerCase().trim());\nconst emailCounts = {};\nallEmails.forEach(e => { emailCounts[e] = (emailCounts[e] || 0) + 1; });\nconst returnCustomers = uniqueEmails.filter(e => (emailCounts[e] || 0) > 1).length;\nconst returnRate = uniqueEmails.length > 0 ? ((returnCustomers / uniqueEmails.length) * 100).toFixed(1) + '%' : '0%';\nconst avgPerDay = (total / WINDOW_DAYS).toFixed(1);\nconst dayMap = {};\nrecentRows.forEach(r => {\n  const day = tsYmd(r.Timestamp) || 'N/A';\n  dayMap[day] = (dayMap[day] || 0) + 1;\n});\nconst peakDay = Object.entries(dayMap).sort((a, b) => b[1] - a[1])[0] || ['N/A', 0];\nconst topEmailsSorted = Object.entries(emailCounts).sort((a, b) => b[1] - a[1]).slice(0, 5);\nconst poorPct = total > 0 ? ((poor / total) * 100).toFixed(1) : '0';\nconst standardPct = total > 0 ? ((standard / total) * 100).toFixed(1) : '0';\nconst goodPct = total > 0 ? ((good / total) * 100).toFixed(1) : '0';\nconst topEmailsHTML = topEmailsSorted.map((e, i) => `<tr><td style='padding:8px;border:1px solid #dee2e6'>${i + 1}</td><td style='padding:8px;border:1px solid #dee2e6'>${e[0]}</td><td style='padding:8px;border:1px solid #dee2e6;text-align:center'>${e[1]}</td></tr>`).join('');\nconst reportHTML = `<!DOCTYPE html><html><head><meta charset='UTF-8'></head><body style='font-family:Arial,sans-serif;background:#f8f9fa;padding:20px'><div style='max-width:700px;margin:0 auto;background:#fff;border-radius:8px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1)'><div style='background:#343a40;color:#fff;padding:20px;text-align:center'><h2 style='margin:0'>📊 Báo cáo Tín dụng Hàng tuần</h2><p style='margin:5px 0 0'>Tuần: ${weekStr} (giờ VN)</p></div><div style='padding:20px'><div style='display:grid;grid-template-columns:1fr 1fr 1fr 1fr;gap:15px;margin-bottom:20px'><div style='background:#007bff;color:#fff;padding:15px;border-radius:8px;text-align:center'><h3 style='margin:0 0 5px'>${total}</h3><p style='margin:0;font-size:12px'>Tổng đánh giá</p></div><div style='background:#dc3545;color:#fff;padding:15px;border-radius:8px;text-align:center'><h3 style='margin:0 0 5px'>${poor}</h3><p style='margin:0;font-size:12px'>Poor (${poorPct}%)</p></div><div style='background:#fd7e14;color:#fff;padding:15px;border-radius:8px;text-align:center'><h3 style='margin:0 0 5px'>${standard}</h3><p style='margin:0;font-size:12px'>Standard (${standardPct}%)</p></div><div style='background:#28a745;color:#fff;padding:15px;border-radius:8px;text-align:center'><h3 style='margin:0 0 5px'>${good}</h3><p style='margin:0;font-size:12px'>Good (${goodPct}%)</p></div></div><table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr style='background:#343a40;color:#fff'><th style='padding:10px;text-align:left' colspan='2'>📈 KPIs Tuần này</th></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>Có email</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right'>${withEmail}</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>Khách quay lại</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right'>${returnCustomers} (${returnRate})</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>Trung bình/ngày</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right'>${avgPerDay}</td></tr><tr><td style='padding:8px;border:1px solid #dee2e6'>Ngày cao điểm</td><td style='padding:8px;border:1px solid #dee2e6;text-align:right'>${peakDay[0]} (${peakDay[1]} đánh giá)</td></tr></table><table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr style='background:#343a40;color:#fff'><th style='padding:10px'>STT</th><th style='padding:10px;text-align:left'>Email</th><th style='padding:10px'>Số lần</th></tr>${topEmailsHTML}</table></div></div></body></html>`;\nconst subject = `Báo cáo Tín dụng Tuần ${weekStr}`;\nreturn [{json: {subject, reportHTML, total, poor, standard, good, withEmail, returnRate, avgPerDay, weekStr}}];"
      },
      "id": "897704c2-ec5d-4c51-965b-e8a2b14aa8e4",
      "name": "Calculate Weekly Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        1888
      ]
    },
    {
      "parameters": {
        "sendTo": "linhham1509@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.reportHTML }}",
        "options": {
          "emailType": "html"
        }
      },
      "id": "30a51c17-f87d-465f-880c-8a004eb978e1",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2816,
        1968
      ],
      "webhookId": "884c9526-bdc2-46f2-8ac9-2ea7043c6307",
      "credentials": {
        "gmailOAuth2": {
          "id": "aOXSHTLnRgwF5OGb",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18GOJXNSzyVyQTe_U6F3BEMaAQss6Kk-K8SpwdITQNaU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Weekly_Report"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Week": "={{ $json.weekStr }}",
            "Total": "={{ $json.total }}",
            "Poor": "={{ $json.poor }}",
            "Standard": "={{ $json.standard }}",
            "With_Email": "={{ $json.withEmail }}",
            "Good": "={{ $json.good }}",
            "Return_Rate": "={{ $json.returnRate }}",
            "Avg_Per_Day": "={{ $json.avgPerDay }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Week",
              "displayName": "Week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poor",
              "displayName": "Poor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Standard",
              "displayName": "Standard",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Good",
              "displayName": "Good",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "With_Email",
              "displayName": "With_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Return_Rate",
              "displayName": "Return_Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Avg_Per_Day",
              "displayName": "Avg_Per_Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "27274216-39be-4f91-902c-52f6be17285c",
      "name": "Save Weekly Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2816,
        1824
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iShtmhilTJGWdL38",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weekly-report",
        "responseMode": "onReceived",
        "options": {
          "responseData": "noData"
        }
      },
      "id": "c4e8f2a1-9b3d-4e5f-a6b7-8c9d0e1f2a3b",
      "name": "Weekly Report Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2064,
        2048
      ],
      "webhookId": "d5f9a3b2-0c4e-5f6a-b7c8-9d0e1f2a3b4c"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append Credit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Credit Log": {
      "main": [
        [
          {
            "node": "If Poor",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Poor": {
      "main": [
        [
          {
            "node": "Build Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Email": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Email": {
      "main": [
        [
          {
            "node": "Lookup History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup History": {
      "main": [
        [
          {
            "node": "Compare History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare History": {
      "main": [
        [
          {
            "node": "Build Customer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Customer Email": {
      "main": [
        [
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Read All Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Webhook": {
      "main": [
        [
          {
            "node": "Read All Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Logs": {
      "main": [
        [
          {
            "node": "Calculate Weekly Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Weekly Stats": {
      "main": [
        [
          {
            "node": "Send Weekly Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7313d88-6144-46f7-a0c7-691d2ece1fe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fda04789a37cec1fdf3940297aed8bbaf3d4e17ce4160752b902017147eabf55"
  },
  "nodeGroups": [],
  "id": "epKITbgqK38ELC69",
  "tags": [
    {
      "updatedAt": "2026-07-14T19:27:51.830Z",
      "createdAt": "2026-07-14T19:27:51.830Z",
      "id": "81Di1TlYGe9kiFX5",
      "name": "credit-scoring"
    }
  ]
}