n8n/workflow.json
{
  "name": "AI Credit Scoring Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credit-scoring",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1400, 300],
      "webhookId": "credit-scoring"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1ASE9CUCseFaU2cr99PrSVEfxWbxUkNGZ1xQhox5AKLM", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Thời gian": "={{ $json.body.timestamp }}",
            "Họ tên": "={{ $json.body.customer_name }}",
            "Email": "={{ $json.body.customer_email }}",
            "Nhóm dự đoán": "={{ $json.body.predicted_class }}",
            "Xác suất Poor": "={{ $json.body.proba.Poor }}",
            "Xác suất Standard": "={{ $json.body.proba.Standard }}",
            "Xác suất Good": "={{ $json.body.proba.Good }}",
            "Ghi chú": "={{ $json.body.predicted_class === 'Poor' ? 'Cần review' : ($json.body.proba.Poor > 0.4 ? 'Theo dõi' : '') }}",
            "Status": "={{ $json.body.predicted_class === 'Poor' ? 'Chưa xử lý' : 'OK' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-append-log",
      "name": "Append Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-1160, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "rK4VJJUbo18S1Rbo", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "if-poor-cond",
              "leftValue": "={{ $('Webhook').item.json.body.predicted_class }}",
              "rightValue": "Poor",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-poor",
      "name": "KB2A: Là Poor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-900, 160]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst inputs = b.inputs || {};\nconst now = new Date(b.timestamp || Date.now());\nconst dateVi = now.toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\nconst pct = v => (v * 100).toFixed(1);\nconst sheetUrl = 'https://docs.google.com/spreadsheets/d/1ASE9CUCseFaU2cr99PrSVEfxWbxUkNGZ1xQhox5AKLM';\nconst risks = [];\nif ((inputs.Delay_from_due_date||0)>15) risks.push('Trả trễ '+inputs.Delay_from_due_date+' ngày');\nif ((inputs.Num_of_Delayed_Payment||0)>10) risks.push(inputs.Num_of_Delayed_Payment+' lần trễ');\nif ((inputs.Debt_to_Income_Annual||0)>0.5) risks.push('DTI '+((inputs.Debt_to_Income_Annual||0)*100).toFixed(0)+'%');\nif ((inputs.Credit_Utilization_Ratio||0)>70) risks.push('Utilization '+(inputs.Credit_Utilization_Ratio||0).toFixed(0)+'%');\nif (inputs.Credit_Mix==='Bad') risks.push('Credit Mix Bad');\nif (inputs.Has_Payday_Loan) risks.push('Có Payday Loan');\nconst subject = '🚨 CẢNH BÁO POOR: '+(b.customer_name||'Ẩn danh')+' — P(Poor)='+pct(b.proba.Poor)+'%';\nconst html = '<div style=\"font-family:Arial;max-width:600px;border:2px solid #e74c3c;border-radius:8px;overflow:hidden;\"><div style=\"background:#e74c3c;padding:16px;color:white;\"><h2 style=\"margin:0;\">🚨 Hồ sơ rủi ro cao — POOR</h2><p style=\"margin:4px 0 0;opacity:0.85;\">'+dateVi+'</p></div><div style=\"padding:20px;\"><table style=\"width:100%;border-collapse:collapse;\"><tr><td style=\"padding:8px;color:#555;\">Khách hàng</td><td style=\"padding:8px;font-weight:bold;\">'+(b.customer_name||'Ẩn danh')+'</td></tr><tr style=\"background:#fafafa;\"><td style=\"padding:8px;color:#555;\">Email</td><td style=\"padding:8px;\">'+(b.customer_email||'—')+'</td></tr><tr><td style=\"padding:8px;color:#555;\">P(Poor)</td><td style=\"padding:8px;font-weight:bold;color:#e74c3c;font-size:18px;\">'+pct(b.proba.Poor)+'%</td></tr><tr style=\"background:#fafafa;\"><td style=\"padding:8px;color:#555;\">P(Good)</td><td style=\"padding:8px;\">'+pct(b.proba.Good)+'%</td></tr></table>'+(risks.length?'<div style=\"margin-top:12px;background:#fff5f5;border-left:3px solid #e74c3c;padding:12px;\"><b style=\"color:#c0392b;\">Yếu tố rủi ro:</b><ul style=\"margin:8px 0;padding-left:20px;\">'+risks.map(r=>'<li>'+r+'</li>').join('')+'</ul></div>':'')+'<div style=\"text-align:center;margin-top:16px;\"><a href=\"'+sheetUrl+'\" style=\"background:#e74c3c;color:white;padding:10px 24px;border-radius:6px;text-decoration:none;font-weight:bold;\">Xem trong Sheets →</a></div></div></div>';\nreturn { json: { subject, alertHTML: html } };"
      },
      "id": "node-build-alert",
      "name": "Build Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-640, 80]
    },
    {
      "parameters": {
        "sendTo": "credit.scoring.admin@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.alertHTML }}",
        "options": { "appendAttribution": false }
      },
      "id": "node-send-alert",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [-380, 80],
      "credentials": { "gmailOAuth2": { "id": "jdYX3KVOhYrAhv5O", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "if-email-cond",
              "leftValue": "={{ $('Webhook').item.json.body.customer_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-email",
      "name": "KB1: Có email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-900, 440]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1ASE9CUCseFaU2cr99PrSVEfxWbxUkNGZ1xQhox5AKLM", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Webhook').item.json.body.customer_email }}"
            }
          ]
        },
        "options": { "returnAllMatchingRecords": true }
      },
      "id": "node-lookup-history",
      "name": "Lookup History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-640, 440],
      "credentials": { "googleSheetsOAuth2Api": { "id": "rK4VJJUbo18S1Rbo", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst b = $('Webhook').item.json.body;\nconst currentEmail = (b.customer_email||'').toLowerCase().trim();\nconst currentTs = b.timestamp;\nconst matched = rows.filter(r => {\n  const e = (r['Email']||'').toLowerCase().trim();\n  return e === currentEmail && r['Thời gian'] !== currentTs;\n});\nmatched.sort((a,b2) => new Date(b2['Thời gian']) - new Date(a['Thời gian']));\nconst isNew = matched.length === 0;\nconst visitCount = matched.length + 1;\nconst prev = matched[0] || null;\nlet previousData = null;\nif (prev) {\n  previousData = {\n    timestamp: prev['Thời gian'],\n    predicted_class: prev['Nhóm dự đoán'],\n    proba: {\n      Poor: parseFloat((prev['Xác suất Poor']||'0').toString().replace(',','.')) || 0,\n      Standard: parseFloat((prev['Xác suất Standard']||'0').toString().replace(',','.')) || 0,\n      Good: parseFloat((prev['Xác suất Good']||'0').toString().replace(',','.')) || 0\n    }\n  };\n}\nconst improving = previousData ? (b.proba.Good - previousData.proba.Good) > 0.05 : false;\nconst stagnant = previousData ? (b.predicted_class==='Poor' && previousData.predicted_class==='Poor' && !improving) : false;\nreturn [{ json: { isNew, visitCount, previousData, improving, stagnant } }];"
      },
      "id": "node-compare-history",
      "name": "KB1: Compare History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-380, 440]
    },
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body;\nconst hist = $('KB1: Compare History').item.json;\nconst inputs = b.inputs || {};\nconst pct = v => (v * 100).toFixed(1);\nconst now = new Date(b.timestamp || Date.now());\nconst dateVi = now.toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\nconst cls = b.predicted_class || 'Unknown';\nconst clsViMap = { Poor: 'Rủi ro cao', Standard: 'Trung bình', Good: 'Tốt' };\nconst clsVi = clsViMap[cls] || cls;\nconst clsColorMap = { Poor: '#e74c3c', Standard: '#f39c12', Good: '#27ae60' };\nconst clsColor = clsColorMap[cls] || '#888';\nconst visitCount = hist.visitCount || 1;\nconst isNew = hist.isNew !== false;\nconst improving = !!hist.improving;\nconst stagnant = !!hist.stagnant;\nconst prev = hist.previousData;\nconst greeting = isNew ? 'Đây là lần đầu tiên bạn sử dụng hệ thống của chúng tôi.' : 'Đây là lần thứ <b>'+visitCount+'</b> bạn sử dụng hệ thống. Cảm ơn bạn đã quay lại!';\nlet bannerHTML = '';\nif (!isNew && prev) {\n  const clsOrder = { Poor: 0, Standard: 1, Good: 2 };\n  if ((clsOrder[cls]||0) > (clsOrder[prev.predicted_class]||0)) {\n    bannerHTML = '<div style=\"background:#d4efdf;border-left:4px solid #27ae60;padding:12px;margin:12px 0;\">🎉 <b>Chúc mừng!</b> Hạng tín dụng nâng từ '+prev.predicted_class+' lên '+cls+'!</div>';\n  } else if ((clsOrder[cls]||0) < (clsOrder[prev.predicted_class]||0)) {\n    bannerHTML = '<div style=\"background:#fde8e8;border-left:4px solid #e74c3c;padding:12px;margin:12px 0;\">⚠️ <b>Lưu ý:</b> Hạng giảm từ '+prev.predicted_class+' xuống '+cls+'.</div>';\n  } else if (improving) {\n    bannerHTML = '<div style=\"background:#eaf4fb;border-left:4px solid #3498db;padding:12px;margin:12px 0;\">📈 P(Good) tăng >5% so với lần trước.</div>';\n  }\n}\nlet compareHTML = '';\nif (!isNew && prev) {\n  const dP = (b.proba.Poor - prev.proba.Poor)*100, dS = (b.proba.Standard - prev.proba.Standard)*100, dG = (b.proba.Good - prev.proba.Good)*100;\n  const ar = v => v>0.05?'<span style=\"color:#e74c3c\">▲'+v.toFixed(1)+'%</span>':v<-0.05?'<span style=\"color:#27ae60\">▼'+Math.abs(v).toFixed(1)+'%</span>':'<span style=\"color:#888\">—</span>';\n  compareHTML = '<h3>So sánh lần trước ('+new Date(prev.timestamp).toLocaleDateString('vi-VN')+')</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f0f0f0;\"><th style=\"padding:6px;text-align:left;\">Nhóm</th><th style=\"padding:6px;text-align:right;\">Trước</th><th style=\"padding:6px;text-align:right;\">Nay</th><th style=\"padding:6px;text-align:right;\">Δ</th></tr><tr><td style=\"padding:6px;color:#e74c3c;\">Poor</td><td style=\"padding:6px;text-align:right;\">'+pct(prev.proba.Poor)+'%</td><td style=\"padding:6px;text-align:right;\">'+pct(b.proba.Poor)+'%</td><td style=\"padding:6px;text-align:right;\">'+ar(dP)+'</td></tr><tr style=\"background:#fafafa;\"><td style=\"padding:6px;color:#f39c12;\">Standard</td><td style=\"padding:6px;text-align:right;\">'+pct(prev.proba.Standard)+'%</td><td style=\"padding:6px;text-align:right;\">'+pct(b.proba.Standard)+'%</td><td style=\"padding:6px;text-align:right;\">'+ar(dS)+'</td></tr><tr><td style=\"padding:6px;color:#27ae60;\">Good</td><td style=\"padding:6px;text-align:right;\">'+pct(prev.proba.Good)+'%</td><td style=\"padding:6px;text-align:right;\">'+pct(b.proba.Good)+'%</td><td style=\"padding:6px;text-align:right;\">'+ar(dG)+'</td></tr></table>';\n}\nlet adviceHTML = '';\nif (cls==='Poor') {\n  const issues = [];\n  if ((inputs.Delay_from_due_date||0)>15) issues.push('Thanh toán đang trễ '+inputs.Delay_from_due_date+' ngày — cần thanh toán ngay');\n  if ((inputs.Num_of_Delayed_Payment||0)>10) issues.push('Có '+inputs.Num_of_Delayed_Payment+' lần trễ hạn — thiết lập nhắc nhở tự động');\n  if ((inputs.Debt_to_Income_Annual||0)>0.5) issues.push('Tỷ lệ nợ/thu nhập '+((inputs.Debt_to_Income_Annual||0)*100).toFixed(0)+'% — cần giảm dư nợ');\n  if ((inputs.Credit_Utilization_Ratio||0)>70) issues.push('Credit Utilization '+(inputs.Credit_Utilization_Ratio||0).toFixed(0)+'% — giảm xuống dưới 30%');\n  if (inputs.Credit_Mix==='Bad') issues.push('Credit Mix xấu — đa dạng hóa tín dụng');\n  if (inputs.Has_Payday_Loan) issues.push('Có Payday Loan — ưu tiên trả trước');\n  if (stagnant) {\n    adviceHTML = '<div style=\"background:#fff3cd;border-left:4px solid #f39c12;padding:12px;margin:12px 0;\"><b>⚠️ Chưa có cải thiện so với lần trước.</b> Hãy tập trung vào <b>1 việc</b> trước: '+(issues[0]||'thanh toán đúng hạn')+'</div>';\n  } else if (isNew) {\n    adviceHTML = '<h3 style=\"color:#e74c3c;\">🔴 Vấn đề khẩn cần xử lý</h3>'+(issues.length?'<ul>'+issues.map(i=>'<li>'+i+'</li>').join('')+'</ul>':'')+'<p><b>Lộ trình cải thiện:</b></p><ul><li><b>1-3 tháng:</b> Thanh toán đúng hạn 100%, giảm utilization</li><li><b>3-6 tháng:</b> Giảm dư nợ, hạn chế vay mới</li><li><b>6-12 tháng:</b> Xây dựng lịch sử tín dụng sạch</li></ul>';\n  } else if (improving) {\n    adviceHTML = '<div style=\"background:#d4efdf;padding:12px;border-radius:4px;\">💪 Bạn đang tiến bộ tốt! Tiếp tục duy trì các thói quen tốt. '+( issues.length?'Vẫn còn: <i>'+issues[0]+'</i>':'')+'</div>';\n  } else {\n    adviceHTML = '<ul>'+issues.map(i=>'<li>'+i+'</li>').join('')+'</ul>';\n  }\n} else if (cls==='Standard') {\n  adviceHTML = '<h3 style=\"color:#f39c12;\">📊 Rào cản để đạt hạng Good</h3><ul><li>Giữ Credit Utilization dưới 30%</li><li>Không trễ hạn bất kỳ khoản nào</li><li>Duy trì DTI dưới 40%</li><li>Đa dạng hóa danh mục tín dụng</li></ul>';\n} else if (cls==='Good') {\n  adviceHTML = '<h3 style=\"color:#27ae60;\">✅ Tín dụng tốt — Duy trì và phát triển</h3><ul><li>Tiếp tục thanh toán đúng hạn</li><li>Giữ utilization dưới 30%</li><li>Bạn có thể xem xét: thẻ tín dụng ưu đãi, vay mua nhà lãi suất thấp</li></ul>';\n}\nconst subject = '[Lần '+visitCount+'] Kết quả tín dụng: '+clsVi+' ('+cls+')';\nconst emailHTML = '<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f4f6f9;\"><div style=\"font-family:Arial,sans-serif;max-width:640px;margin:20px auto;background:white;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\"><div style=\"background:'+clsColor+';padding:20px;color:white;\"><h2 style=\"margin:0;\">Kết quả Đánh giá Tín dụng</h2><p style=\"margin:4px 0 0;opacity:0.85;\">'+dateVi+'</p></div><div style=\"padding:24px;\"><p>Xin chào <b>'+(b.customer_name||'bạn')+'</b>,</p><p>'+greeting+'</p>'+bannerHTML+'<div style=\"background:#f8f9fa;border-radius:8px;padding:16px;text-align:center;margin:16px 0;\"><div style=\"font-size:14px;color:#666;\">Phân loại tín dụng</div><div style=\"font-size:32px;font-weight:bold;color:'+clsColor+';\">'+clsVi+'</div><div style=\"font-size:13px;color:#888;\">('+cls+')</div></div><h3 style=\"border-bottom:1px solid #eee;padding-bottom:6px;\">Xác suất chi tiết</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;color:#e74c3c;\">🔴 Poor</td><td style=\"padding:8px;text-align:right;font-weight:bold;\">'+pct(b.proba.Poor)+'%</td></tr><tr><td style=\"padding:8px;color:#f39c12;\">🟡 Standard</td><td style=\"padding:8px;text-align:right;font-weight:bold;\">'+pct(b.proba.Standard)+'%</td></tr><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;color:#27ae60;\">🟢 Good</td><td style=\"padding:8px;text-align:right;font-weight:bold;\">'+pct(b.proba.Good)+'%</td></tr></table>'+compareHTML+adviceHTML+'<hr style=\"margin:20px 0;border:none;border-top:1px solid #eee;\"><p style=\"color:#999;font-size:12px;text-align:center;\">Email tự động — AI Credit Classification — Đồ án học tập</p></div></div></body></html>';\nreturn [{ json: { subject, emailHTML } }];"
      },
      "id": "node-build-email",
      "name": "Build Customer Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 440]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.customer_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailHTML }}",
        "options": { "appendAttribution": false }
      },
      "id": "node-send-email",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [260, 440],
      "credentials": { "gmailOAuth2": { "id": "jdYX3KVOhYrAhv5O", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      },
      "id": "node-schedule",
      "name": "Schedule Weekly Report",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [-1400, 700]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1ASE9CUCseFaU2cr99PrSVEfxWbxUkNGZ1xQhox5AKLM", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "options": {}
      },
      "id": "node-read-logs",
      "name": "Read All Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-1160, 700],
      "credentials": { "googleSheetsOAuth2Api": { "id": "rK4VJJUbo18S1Rbo", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json);\nconst now = new Date();\nconst sevenDaysAgo = new Date(now.getTime() - 7*24*60*60*1000);\nconst recent = rows.filter(r => {\n  const ts = new Date(r['Thời gian']);\n  return !isNaN(ts) && ts >= sevenDaysAgo;\n});\nconst total = recent.length;\nconst poor = recent.filter(r => r['Nhóm dự đoán']==='Poor').length;\nconst standard = recent.filter(r => r['Nhóm dự đoán']==='Standard').length;\nconst good = recent.filter(r => r['Nhóm dự đoán']==='Good').length;\nconst withEmail = recent.filter(r => r['Email'] && r['Email'].toString().trim()!=='').length;\nconst withoutEmail = total - withEmail;\nconst emailMap = {};\nrecent.forEach(r => {\n  const em = (r['Email']||'').toString().toLowerCase().trim();\n  if (em) emailMap[em] = (emailMap[em]||0) + 1;\n});\nconst uniqueEmails = Object.keys(emailMap).length;\nconst returnCustomers = Object.values(emailMap).filter(v => v >= 2).length;\nconst returnRate = uniqueEmails > 0 ? ((returnCustomers / uniqueEmails)*100).toFixed(1) : '0.0';\nconst avgPerDay = (total / 7).toFixed(1);\nconst dayMap = {};\nrecent.forEach(r => {\n  const ts = new Date(r['Thời gian']);\n  if (!isNaN(ts)) {\n    const day = ts.toLocaleDateString('vi-VN');\n    dayMap[day] = (dayMap[day]||0) + 1;\n  }\n});\nlet peakDay = '—', peakCount = 0;\nObject.entries(dayMap).forEach(([d, c]) => { if (c > peakCount) { peakCount = c; peakDay = d; } });\nconst topEmails = Object.entries(emailMap).sort((a,b) => b[1]-a[1]).slice(0,5);\nconst weekStr = sevenDaysAgo.toLocaleDateString('vi-VN')+' - '+now.toLocaleDateString('vi-VN');\nconst pctOf = (n,d) => d>0 ? (n/d*100).toFixed(1)+'%' : '0%';\nconst reportHTML = '<!DOCTYPE html><html><body style=\"font-family:Arial;max-width:700px;margin:20px auto;background:#f4f6f9;\"><div style=\"background:white;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\"><div style=\"background:#2c3e50;padding:20px;color:white;\"><h2 style=\"margin:0;\">📊 Báo cáo tuần — AI Credit Scoring</h2><p style=\"margin:4px 0 0;opacity:0.8;\">'+weekStr+'</p></div><div style=\"padding:24px;\"><h3 style=\"color:#2c3e50;\">Tổng quan KPI</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#2c3e50;color:white;\"><th style=\"padding:10px;text-align:left;\">Chỉ số</th><th style=\"padding:10px;text-align:right;\">Giá trị</th></tr><tr><td style=\"padding:8px;\">Tổng lượt đánh giá</td><td style=\"padding:8px;text-align:right;font-weight:bold;\">'+total+'</td></tr><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;\">Trung bình lượt/ngày</td><td style=\"padding:8px;text-align:right;\">'+avgPerDay+'</td></tr><tr><td style=\"padding:8px;\">Ngày cao điểm</td><td style=\"padding:8px;text-align:right;\">'+peakDay+' ('+peakCount+' lượt)</td></tr></table><h3 style=\"color:#2c3e50;margin-top:20px;\">Phân bố nhóm tín dụng</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f0f0f0;\"><th style=\"padding:8px;text-align:left;\">Nhóm</th><th style=\"padding:8px;text-align:right;\">Số lượng</th><th style=\"padding:8px;text-align:right;\">Tỷ lệ</th></tr><tr><td style=\"padding:8px;color:#e74c3c;\">🔴 Poor</td><td style=\"padding:8px;text-align:right;\">'+poor+'</td><td style=\"padding:8px;text-align:right;\">'+pctOf(poor,total)+'</td></tr><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;color:#f39c12;\">🟡 Standard</td><td style=\"padding:8px;text-align:right;\">'+standard+'</td><td style=\"padding:8px;text-align:right;\">'+pctOf(standard,total)+'</td></tr><tr><td style=\"padding:8px;color:#27ae60;\">🟢 Good</td><td style=\"padding:8px;text-align:right;\">'+good+'</td><td style=\"padding:8px;text-align:right;\">'+pctOf(good,total)+'</td></tr></table><h3 style=\"color:#2c3e50;margin-top:20px;\">Engagement khách hàng</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f0f0f0;\"><th style=\"padding:8px;text-align:left;\">Chỉ số</th><th style=\"padding:8px;text-align:right;\">Giá trị</th></tr><tr><td style=\"padding:8px;\">Có email</td><td style=\"padding:8px;text-align:right;\">'+withEmail+'</td></tr><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;\">Không có email</td><td style=\"padding:8px;text-align:right;\">'+withoutEmail+'</td></tr><tr><td style=\"padding:8px;\">Email duy nhất</td><td style=\"padding:8px;text-align:right;\">'+uniqueEmails+'</td></tr><tr style=\"background:#f8f9fa;\"><td style=\"padding:8px;\">Khách quay lại (≥2 lượt)</td><td style=\"padding:8px;text-align:right;\">'+returnCustomers+' ('+returnRate+'%)</td></tr></table>'+(topEmails.length?'<h3 style=\"color:#2c3e50;margin-top:20px;\">Top 5 khách hàng</h3><table style=\"width:100%;border-collapse:collapse;\"><tr style=\"background:#f0f0f0;\"><th style=\"padding:8px;text-align:left;\">Email</th><th style=\"padding:8px;text-align:right;\">Số lượt</th></tr>'+topEmails.map((e,i)=>'<tr'+(i%2?' style=\"background:#f8f9fa;\"':'')+'><td style=\"padding:8px;\">'+e[0]+'</td><td style=\"padding:8px;text-align:right;\">'+e[1]+'</td></tr>').join('')+'</table>':'')+'<hr style=\"margin:20px 0;\"><p style=\"color:#999;font-size:12px;text-align:center;\">Báo cáo tự động — AI Credit Classification — Đồ án học tập</p></div></div></body></html>';\nconst subject = '[Báo cáo tuần] AI Credit Scoring — '+weekStr;\nreturn [{ json: { subject, reportHTML, total, poor, standard, good, withEmail, returnCustomers, returnRate, avgPerDay, weekStr } }];"
      },
      "id": "node-calc-stats",
      "name": "Calc Weekly Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-900, 700]
    },
    {
      "parameters": {
        "sendTo": "credit.scoring.admin@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.reportHTML }}",
        "options": { "appendAttribution": false }
      },
      "id": "node-send-report",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [-640, 700],
      "credentials": { "gmailOAuth2": { "id": "jdYX3KVOhYrAhv5O", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1ASE9CUCseFaU2cr99PrSVEfxWbxUkNGZ1xQhox5AKLM", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Weekly Report", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tuần": "={{ $json.weekStr }}",
            "Tổng lượt": "={{ $json.total }}",
            "Poor": "={{ $json.poor }}",
            "Standard": "={{ $json.standard }}",
            "Good": "={{ $json.good }}",
            "Có email": "={{ $json.withEmail }}",
            "Khách quay lại %": "={{ $json.returnRate }}",
            "TB lượt/ngày": "={{ $json.avgPerDay }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-save-weekly",
      "name": "Save Weekly Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-380, 700],
      "credentials": { "googleSheetsOAuth2Api": { "id": "rK4VJJUbo18S1Rbo", "name": "Google Sheets account" } }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Append Log to Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Append Log to Sheet": {
      "main": [
        [
          { "node": "KB2A: Là Poor?", "type": "main", "index": 0 },
          { "node": "KB1: Có email?", "type": "main", "index": 0 }
        ]
      ]
    },
    "KB2A: Là Poor?": {
      "main": [
        [
          { "node": "Build Alert Email", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Build Alert Email": {
      "main": [
        [
          { "node": "Send Alert Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "KB1: Có email?": {
      "main": [
        [
          { "node": "Lookup History", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Lookup History": {
      "main": [
        [
          { "node": "KB1: Compare History", "type": "main", "index": 0 }
        ]
      ]
    },
    "KB1: Compare History": {
      "main": [
        [
          { "node": "Build Customer Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Customer Email": {
      "main": [
        [
          { "node": "Send Customer Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Schedule Weekly Report": {
      "main": [
        [
          { "node": "Read All Logs", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read All Logs": {
      "main": [
        [
          { "node": "Calc Weekly Stats", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calc Weekly Stats": {
      "main": [
        [
          { "node": "Send Weekly Report", "type": "main", "index": 0 },
          { "node": "Save Weekly Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "createdAt": "2024-01-01T00:00:00.000Z", "updatedAt": "2024-01-01T00:00:00.000Z", "id": "credit-scoring-tag", "name": "credit-scoring" }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
